/* *********************** 📝Blog Page Media Queries ***************** */

@media (max-width: 940px) {
    .blog main {
        padding: 50px 0 150px 40px;
    }
    .blog aside {
        margin-top: 10px;
        width: 100%;
        float: none;
        display: flex;
        justify-content: center;
        align-items: center;
        .asideTextContainer {
            width: 80%;
        }
        .asideImageContainer {
            top: 0px;
            left: 0px;
            width: 400px;
            padding-left: 15px;
        }
    }
    .blog article {
        float: none;
        width: 100%;
        top: 60px;
    }
    .blog section.comments {
        width: 100%;
        padding-right: 0px;
        margin-right: 20px;
        top: 100px;
        h3 {
            padding-bottom: 5px;
        }
        p {
            font-size: 0.8rem;
        }
        p.date {
            margin-bottom: 5px;
        }
    }
}

@media (max-width: 768px) {
    .blog h1 {
        font-size: 2.8rem;
    }
    .blog .mediaQueryWrapper {
        margin: 0 auto;
        width: 90%;
    }
    .blog .mainMenu {
        visibility: collapse;
    }
    .blog .hamburger {
        display: block;
    }
    .blog header {
        background-position: 20%;
    }
    .blog main {
        padding-left: 0;
    }
    .blog aside {
        flex-direction: column;
        .asideImageContainer {
            display: none;
        }
    }
    .blog article {
        border-right: 4px solid $colorTwo;
        .articleImageContainer {
            top: 0;
            img {
                box-shadow: -25px -25px 0 $colorTwo;
            }
        }
        .nextDestination {
            padding: 40px 10px 40px 10px;
            h2 {
                font-size: 1.8rem;
                text-align: center;
            }
        }
    }
    .blog section.comments {
        margin-right: 0;
        h3 {
            text-align: center;
        }
    }
    .blog .comment1,
    .blog .comment2 {
        padding: 20px 0px 20px 0;
    }
    .blog section.comments {
        input {
            width: 100%;
        }
        textarea {
            margin-top: 40px;
        }
    }
}

@media (max-width: 480px) { 
    .blog h1 {
        font-size: 2rem;
    }
    .blog .asideTextContainer {
        width: 100%;
        padding: 20px 0;
        h4,
        p {
            text-align: center;
        }
    }
    .blog article {
        border: none;
        .articleImageContainer {
            img {
                box-shadow: -15px -15px 0 $colorTwo;
            }
        }
        .nextDestination {
            padding: 0;
            h2 {
                font-size: 1.6rem;
                padding-top: 20px;
                text-align: center;
            }
        }
    }
    .blog .nextDestination p:first-of-type {
        text-align: center;
    }
    .blog section.comments {
        h3 {
            font-size: 1.8rem;
        }
    }
    .blog .comment1,
    .blog .comment2 {
        flex-direction: column;
        align-items: center;
        padding: 25px 20px 0px 0px;
        text-align: center;
        .comment1ImageContainer,
        .comment2ImageContainer {
            img {
                margin: 0 auto;
            }
        }
    }
    .blog section.comments {
        input {
            width: 100%;
            padding: 10px;
        }
        textarea {
            padding: 10px;
        }
    }
    .blog .commentForm {
        margin-top: 30px;
    }
}