/* ********************** 📩 Contact Page Media Queries ******************* */

@media (max-width: 940px) {
    .contact main .wrapper {
        flex-direction: column-reverse;
    }
    .contact main .contactInfo {
        align-items: center;
        text-align: center;
        width: 100%;
    }
    .contact main .contactForm {
        width: 100%;
        top: -100px;
    }
}

@media (max-width: 768px) {
    .contact h1 {
        font-size: 2.8rem;
    }
    .contact .mainMenu {
        visibility: collapse;
    }
    .contact .hamburger {
        display: block;
    }
    .contact .contactForm input {
        width: 100%;
    }
    .contact .contactForm {
        box-shadow: 10px 10px 0 $colorTwo;
        padding: 20px;
    }
}

@media (max-width: 480px) {
    html, body {
        overflow-x: hidden;
    }
    body {
        position: relative
    }
    .contact h1 {
        font-size: 2rem;
        position: relative;
        top: -30px;
    }
}