/* ***************CONTACT PAGE (CONTACT.HTML) MEDIA QUERIES*********** */

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
    .contact main .wrapper {
        flex-direction: column-reverse;
    }
    .contact .contactForm {
        width: 100%;
        top: -100px;
    }
    .contact .contactInfo {
        align-items: center;
        width: 600px;
        text-align: center;
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
    .contact .mainMenu {
        visibility: collapse;
    }
    .contact .hamburger {
        display: block;
    }
    .contact .contactForm input {
        width: 100%;
    }
}

/* Landscape phones and down */
@media (max-width: 480px) {
}