/* Footer Styles for all 3 pages */

footer {
    padding: 10px;
    background-color: $colorTwo;
    text-align: center;
    color: $colorThree;
    a {
        color: $colorThree;
        text-decoration: underline;
        &:hover,
        &:focus {
            text-decoration: none;
        }
    }
}

