/* *************************************HOME PAGE******************************************  */

.home header {
    background-image: url(../assets/home-header.jpg);
    background-size: cover;
    height: 80vh;
    padding: 40px 0 40px 110px;
    position: relative;
}

.home nav ul {
    display: flex;
        li {
            font-weight: 700;
                a {
                    color: $colorFour;
                    padding: 0 30px;
                    & span:hover {
                        border-bottom: $colorTwo 3px solid;
                    }
                }
        }
}

.home h1 {
    color: $colorTwo;
    float: left;
    position: absolute;
    bottom: 20px;
    width: 55%;
}

.home .headerImageContainer {
    float: right;
    position: absolute;
    right: 0;
    bottom: -150px;
    width: 50%;
}

/* *************************************BLOG PAGE******************************************  */

.blog header {
    background-image: url(../assets/blog-header.jpg);
    background-size: cover;
    background-position: 0% 50%;
    height: 80vh;
    padding: 40px 0 80px 0;
}

.blog nav ul {
    display: flex;
        li {
            font-weight: 700;
                a {
                    color: $colorFour;
                    padding: 0 30px;
                    & span:hover {
                        border-bottom: $colorTwo 3px solid;
                    }
                }
        }
}

.blog h1 {
    color: $colorFour;
    margin-top: 80px;
}

