/* *************************************HOME PAGE******************************************  */

.home header {
    background-image: url(../assets/home-header.jpg);
    background-size: cover;
    height: 80vh;
    padding: 40px 0 40px 110px;
    position: relative;
}

.home nav ul {
    display: flex;
        li {
            font-weight: 700;
                a {
                    color: $colorFour;
                    padding: 0 30px;
                    & span:hover {
                        border-bottom: $colorTwo 3px solid;
                    }
                }
        }
}

.home h1 {
    color: $colorTwo;
    float: left;
    position: absolute;
    bottom: 20px;
    width: 55%;
}

.home .headerImageContainer {
    float: right;
    position: absolute;
    right: 0;
    bottom: -150px;
    width: 50%;
}

/* HIDDEN HAMBURGER MENU STYLING - only applicable at 768px breakpoint */
.home ul.hiddenMenu {
    background: $colorThree;
	position: fixed;
	z-index: 10;
	width: 50%; 
	left: -50%; 
	top: 0;
	height: 100%;
	transition: all 0.5s; 
}

.home ul.hiddenMenu a {
	display: inline-block;
    width: 100%;
    text-decoration: none;
    font-size: 1.5rem;
	padding: 20px;
    color: #FFFFFF;
}

.home ul.hiddenMenu a:hover,
.home ul.hiddenMenu a:focus {
    text-decoration: underline;
}

.home input[type="checkbox"]:checked + ul.hiddenMenu {
	left: 0; 
}

.home input[type="checkbox"],
.home label {
    display: none;
}

.home label[for="toggle"] {
	position: absolute;
	top: 20px;
	right: 20px;
    color: $colorTwo;
    font-size: 2.1rem;
	z-index: 10;
}

/* *************************************BLOG PAGE******************************************  */

.blog header {
    background-image: url(../assets/blog-header.jpg);
    background-size: cover;
    background-position: 0% 50%;
    height: 80vh;
    padding: 40px 0 80px 0;
}

.blog nav ul {
    display: flex;
        li {
            font-weight: 700;
                a {
                    color: $colorFour;
                    padding: 0 30px;
                    & span:hover {
                        border-bottom: $colorTwo 3px solid;
                    }
                }
        }
}

.blog h1 {
    color: $colorFour;
    margin-top: 80px;
}

/* *************************************CONTACT PAGE******************************************  */

.contact header {
    background-image: url(../assets/contact-header.jpg);
    background-size: cover;
    background-position: 100% 50%;
    height: 80vh;
    padding: 40px 0 80px 0;
    h1 {
        color: $colorFour;
        text-shadow: 2px 2px 3px black;
        margin-top: 80px;
    }
}

.contact nav ul {
    display: flex;
        li {
            font-weight: 700;
                a {
                    color: $colorFour;
                    padding: 0 30px;
                    & span:hover {
                        border-bottom: $colorTwo 3px solid;
                    }
                }
        }
}