/* ******************* 🏠Home Page Media Queries **************** */

@media (max-width: 1300px) {
    .home header {
        padding-left: 50px;
    }
    .home h1 {
        bottom: 100px;
    }
    .home .headerImageContainer {
        top: 0;
    }
    .home h2 {
        font-size: 1.5rem;
    }
}

@media (max-width: 940px) {
    .home .headerImageContainer {
        display: none;
    }
    .home .siteInfo {
        padding: 60px 0 150px 0;
    }
    .home .siteInfo .siteInfoContainer {
        flex-direction: column;
        margin-top: 0px;
    }
    .home .siteInfoP {
        width: 100%;
        margin: 40px;
        padding: 0;
    }
    .home .aboutFlexContainer1 {
        flex-direction: column;
    }
    .home .aboutFlexContainer2 {
        flex-direction: column-reverse;
    }
    .home .aboutImageContainer1,
    .home .aboutTextContainer1,
    .home .aboutTextContainer2,
    .home .aboutImageContainer2 {
        width: 100%;
    }
    .home .aboutTextContainer1 {
        padding: 0 20px 0 50px;
        position: relative;
        top: -20px;
    }
    .home .aboutTextContainer2 {
        padding: 100px 50px 0 50px;
        p {
            text-align: right;
        }
    }
    .home .winTrip .winTripImageContainer {
        float: none;
        width: 50%;
        margin: 0 auto;
    }
    .home .winTripTextContainer {
        float: none;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        h2 {
            margin-top: 50px;
        }
    }
}

@media (max-width: 768px) {  
    .wrapper {
        width: 90%;
    }
    .home .mainMenu {
        visibility: collapse;
    }
    .home .hamburger {
        display: block;
    }
    .home h1 {
        font-size: 2.8rem;
        bottom: 190px;
    }
    .home h2 {
        text-align: center;
    }
    .home h3 {
        font-size: 1.6rem;
    }
    .home .siteInfoP {
        margin: 40px 0;
        text-align: center;
    }
    .home .siteInfo i {
        display: none;
    }
    .home .fancyUnderline {
        border-bottom: $colorTwo 3px solid;
    }
    .home .fullBleedPaddlePic {
        background-position: center;
    }
    .home .winTrip .winTripImageContainer {
        width: 70%;
    }
    .home .gallery ul {
        flex-direction: column;
        justify-content: center;
        li {
            width: 100%;
            margin: 10px 0;
            img {
                margin: 0 auto;
            }
        }
    }
    .home .gallery ul li:nth-child(2),
    .home .gallery ul li:nth-child(3) {
        display: none;
    }
    .home .galleryArrows {
        display: block;
    }
}

@media (max-width: 480px) { 
    html, body {
        overflow-x: hidden;
    }
    body {
        position: relative
    }
    .home header {
        background-position: center;
        padding-left: 25px;
    }
    .home h1 {
        font-size: 2rem;
    } 
    .home h2 {
        font-size: 1.25rem;
    }
    .home .siteInfoP {
        margin: 20px 0;
    }
    .home .aboutTextContainer1,
    .home .aboutTextContainer2 {
        text-align: center;
    }
    .home .aboutTextContainer1 {
        padding: 0 10px 0 10px;
    }
    .home .aboutTextContainer2 {
        padding: 100px 10px 0 10px;
        p {
            text-align: center;
        }
    }
    .home .fullBleedPaddlePic {
        background-position: 40%;
    }
}



