/* *************************************HOME PAGE******************************************  */

/* Section - Site Info */
.home {
    .siteInfo {
        background-color: $colorOne;
        padding: 150px 0;
        h2 {
        color: $colorThree;
        margin-bottom: 15px;
        position: relative;
        }
    } 
}

.home .siteInfoContainer1,
.home .siteInfoContainer2 {
    display: flex;
    margin-top: 60px;
}

.home .siteInfoP {
    padding: 0 25px;
    width: calc((100% / 2) - 40px);
    margin: 0 20px;
}

.home .siteInfo i {
    background-color: $colorTwo;
    padding: 15px;
    border-radius: 50%;
    width: 65px;
    text-align: center; 
    font-size: 1.5rem;
    position: absolute;
    top: -10px;
    left: -75px;
}

/* Section - More Info */

.home .moreInfo {
    background: $colorThree;
    color: $colorFour;
    padding: 40px 0;
}

.home .moreInfoFlexContainer {
    display: flex;
    justify-content: space-between;
}

.home .moreInfo .moreInfoImageContainer1,
.home .moreInfo .moreInfoTextContainer1,
.home .moreInfo .moreInfoTextContainer2,
.home .moreInfo .moreInfoImageContainer2 {
    width: 43%;
}

.home .moreInfo .moreInfoTextContainer1 {
    padding: 50px 100px 0 0;
    p {
        margin: 15px 0 20px 0;
    }
}

.home .moreInfo .moreInfoImageContainer1 {
    position: relative;
    top: -100px;
    img {
        box-shadow: 20px 20px 0px $colorTwo;
    }
}

.home .moreInfo .moreInfoTextContainer2 {
    text-align: right;
    padding: 50px 0 0 100px;
    p {
        margin: 15px 0 20px 0;
        text-align: left;
    }
}

.home .moreInfo .moreInfoImageContainer2 {
    position: relative;
    bottom: -57px;
    img {
        float: right;
        box-shadow: -20px 20px 0px $colorTwo;
    }
}

// .home .newLocations {
//     text-align: right;
// }

/* Section - Extra Vacation Days */
.home .extraVacationDays {
    background: $colorOne;
    padding: 100px 0;
    .wrapper {
        text-align: center;
    }
}

.home .extraVacationDays h2,
.home .extraVacationDays p,
.home .extraVacationDays .linkButton {
    margin: 20px 0;
}

.home .extraVacationDays h2 {
    color: $colorThree;
}

/* Section - Full Bleed Paddle Boat Pic*/
.home .fullBleedPaddlePic {
    background: url(../assets/banner.jpg);
    background-size: cover;
    height: 60vh;
}

/* Section - Win Trip Section*/
.home .winTrip {
    background: $colorOne;
    padding: 80px 0;
    h2 {
        color: $colorThree;
    }
}

.home .winTrip img {
    float: left;
    width: calc(30% - 30px);
    margin-right: 30px;
    box-shadow: -20px 20px 0px $colorTwo;
    
}

.home .winTripTextContainer {
    float: left;
    width: calc(70% - 30px);
    margin-left: 30px;
}

/* Section - Gallery Section*/
.home .gallery {
    background-color: $colorThree;
    padding: 80px 0;
    ul {
    display: flex;
    li {
        width: calc((100% / 3) - 30px);
        margin: 0 15px;
        }
    }
}
    
/* *************************************BLOG PAGE******************************************  */
.blog main {
    background-color: $colorOne;
    padding: 100px 0 0 80px;
}

.blog aside {
    margin-top: 60px;
    width: 25%;
    float: left;
    background-color: $colorThree;
    color: $colorFour;
    h4 {
        color: $colorTwo;
        margin: 25px 0;
    }
    img {
            position: relative;
            top: -30px;
            left: -90px;
            transform: scaleX(1.35) scaleY(1.25);
        }
    }

.blog .asideTextContainer,
.blog .recentPosts {
    margin: 15px 0;
    padding: 0 20px;
}

.blog .recentPosts {
    ul {
        list-style-type: disc;
        list-style-position: inside;
        line-height: 1.4rem;
        letter-spacing: 1px;
    }
}

.blog article {
    float: right;
    width: 60%;
    position: relative;
    top: -150px;
    border-bottom: 4px solid $colorTwo;
    border-left: 4px solid $colorTwo;
    .articleImageContainer {
        position: relative;
        margin: auto;
        width: 97%;
        // z-index: 1;
        top: -25px;
        right: -11px;
        img {
            // position: relative;
            box-shadow: -25px 25px 0px $colorTwo;
        }
    }
    .nextDestination {
        padding: 40px 60px 80px 60px;
        h2 {
            color: $colorThree;
        }
        p {
            padding: 15px 0;
        }
    }
}

.blog section.comments {
    display: flex;
    flex-direction: column;
    width: 60%;
    float: right;
    background-color: $colorOne;
    padding-right: 50px;
    position: relative;
    top: -60px;
    h3 {
        color: $colorThree;
        padding-bottom: 20px;
    }
}

.blog section.commentForm {
    width: 60%;
    float: right;
}

.blog .comment1,
.blog .comment2 {
    display: flex;
    padding: 20px 40px 20px 0;
}

.blog .comment1ImageContainer,
.blog .comment2ImageContainer {
    width: 20%;
}

.blog .comment1TextContainer,
.blog .comment2TextContainer {
    width: 100%;
}

.blog p.date {
    color: $colorThree;
    font-weight: 700;
    margin-bottom: 15px;
}

.blog .commentForm .flexForm {
    display: flex;
    justify-content: space-between;
}

.blog section.comments {
    input {
        border: $colorOne 2.5px solid;
        border-bottom: $colorTwo 2.5px solid;
        background: $colorOne;
        width: 100%;
        font-family: $baseFont;
        padding: 15px;
    }
    textarea {
        border: $colorTwo 2.5px solid;
        background: $colorOne;
        width: 100%;
        resize: none;
        font-family: $baseFont;
        margin: 30px 0;
        padding: 20px;
    }
    button {
        background-color: $colorThree;
        color: $colorTwo;
        border: $colorThree solid 1px;
        width: 100%;
        display: inline-block;
        font-family: $headingFont;
        text-transform: uppercase;
        padding: 12px 15px;
        transition: all 0.4s;
        &:hover {
            @include buttonHover();
        }
    }
}

/* *************************************CONTACT PAGE******************************************  */
.contact main {
    background-color: $colorOne;
    .wrapper {
    display: flex;
    justify-content: space-between;
    .contactInfo {
        align-self: center;
        position: relative;
        top: -40px;
        nav ul li a {
            color: $colorThree;
            padding: 0 10px;
        }
    }
    }
}

.contact .contactInfo p:first-of-type {
    margin: 15px 0;
}

.contact .contactForm .contactFlex {
    display: flex;
    justify-content: space-between;
}

.contact .contactForm {
    background: $colorThree;
    width: 60%;
    box-shadow: 20px 20px 0px $colorTwo;
    padding: 50px;
    position: relative;
    top: -150px;
    input {
        border: $colorThree 2.5px solid;
        border-bottom: $colorTwo 2.5px solid;
        background: $colorThree;
        width: 100%;
        font-family: $baseFont;
        padding: 15px;
        color: $colorFour;
    }
    textarea {
        border: $colorTwo 2.5px solid;
        background: $colorThree;
        width: 100%;
        resize: none;
        font-family: $baseFont;
        margin: 30px 0;
        padding: 20px;
        color: $colorFour;
    }
    button {
        background-color: $colorTwo;
        color: $colorThree;
        border: $colorTwo solid 1px;
        width: 100%;
        display: inline-block;
        font-family: $headingFont;
        text-transform: uppercase;
        padding: 12px 15px;
        transition: all 0.4s;
        &:hover {
            @include buttonHover();
        }
    }
}





















