$colorOne: #EAFEFC; /* Ice Blue */
$colorTwo: #FDD908; /* Dandelion */
$colorThree: #0D457F; /* Twilight Blue */
$colorFour: #FFFFFF; /* White */
$baseFont: 'Roboto', sans-serif;
$headingFont: 'IM Fell English', serif;