@charset "UTF-8";
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Ice Blue */
/* Dandelion */
/* Twilight Blue */
/* White */
/* ---------------SKIP LINK--------------- */
.skip-link {
  position: absolute;
  left: -1000px;
  top: 5px;
  z-index: 999;
  background: white;
  color: black;
}

.skip-link:focus {
  left: 0;
}

/* ---------------GLOBAL STYLES--------------- */
html {
  font-size: 125%;
  /*20px*/
}

.wrapper {
  max-width: 1200px;
  width: 85%;
  margin: 0 auto;
}

body,
input,
textarea {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

body p {
  letter-spacing: 1px;
  line-height: 1.4rem;
}

h1,
h2,
h3,
h4,
.linkButton,
button {
  font-family: "IM Fell English", serif;
  text-transform: uppercase;
}

h1 {
  font-size: 3.95rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.25rem;
}

.linkButton {
  background-color: #FDD908;
  color: #0D457F;
  display: inline-block;
  font-family: "IM Fell English", serif;
  padding: 12px 15px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.linkButton:hover,
.linkButton:focus {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
  cursor: pointer;
}

textarea {
  resize: none;
}

/* ***********************Shared <header> Styles (across all 3 pages)*********************** */
/* Hidden 🍔 Menu - only applicable at 768px breakpoint */
ul.hiddenMenu {
  background: #0D457F;
  position: fixed;
  z-index: 10;
  width: 50%;
  left: -50%;
  top: 0;
  height: 100%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

ul.hiddenMenu a {
  display: inline-block;
  width: 100%;
  font-size: 1.5rem;
  padding: 20px;
  color: #FFFFFF;
}

ul.hiddenMenu a:hover, ul.hiddenMenu a:focus {
  color: #0D457F;
  background-color: #FDD908;
}

input[type="checkbox"]:checked + ul.hiddenMenu {
  left: 0;
}

input[type="checkbox"],
.hamburger {
  display: none;
}

.hamburger {
  position: absolute;
  top: 20px;
  right: 20px;
  color: #FDD908;
  font-size: 2.1rem;
  z-index: 10;
}

/* Shared <header> Styles */
header {
  background-size: cover;
  height: 80vh;
}

/* Shared <nav> Styles */
nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

nav ul li {
  font-weight: 700;
}

nav ul li a {
  color: #FFFFFF;
  padding: 0 30px;
}

nav ul li a span:hover,
nav ul li a span:focus {
  border-bottom: #FDD908 3px solid;
}

/* *************************** Home Page <header> Styles ****************************** */
.home header {
  background-image: url(../assets/home-header.jpg);
  padding: 40px 0 40px 110px;
  position: relative;
}

.home header h1 {
  color: #FDD908;
  float: left;
  position: absolute;
  bottom: 50px;
  width: 55%;
}

.home header .headerImageContainer {
  float: right;
  position: absolute;
  right: 0;
  bottom: -150px;
  width: 50%;
}

/* *************************** Blog Page <header> Styles ****************************** */
.blog header {
  background-image: url(../assets/blog-header.jpg);
  background-position: 0% 50%;
  padding: 40px 0 80px 0;
}

.blog header h1 {
  color: #FFFFFF;
  margin-top: 160px;
}

/* *************************** Contact Page <header> Styles ****************************** */
.contact header {
  background-image: url(../assets/contact-header.jpg);
  background-position: 100% 50%;
  padding: 40px 0 80px 0;
}

.contact header h1 {
  color: #FFFFFF;
  text-shadow: 2px 2px 3px black;
  margin-top: 80px;
}

/* *************************** Shared <main> Styles ****************************** */
.home .siteInfo,
.home .extraVacationDays,
.home .winTrip,
.blog main,
.blog input,
.blog textarea,
.contact main {
  background-color: #EAFEFC;
}

.home .siteInfoP i,
.contact button {
  background-color: #FDD908;
}

.home .about,
.home .gallery,
.blog aside,
.blog button,
.contact input,
.contact textarea,
.contact .contactForm {
  background-color: #0D457F;
}

.home .galleryArrows,
.blog aside h4,
.blog button {
  color: #FDD908;
}

.home h2,
.blog h2,
.blog h3,
.blog p.date,
.contact button,
.contact .contactInfo nav ul li a {
  color: #0D457F;
}

.home .about,
.blog aside,
.contact input,
.contact textarea {
  color: #FFFFFF;
}

/* *************************** Home Page <main> Styles ****************************** */
/* Section - Site Info */
.home .siteInfo {
  padding: 150px 0;
}

.home .siteInfo .siteInfoContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
}

.home .siteInfoP {
  padding: 0 25px;
  margin: 0 20px;
  width: calc((100% / 2) - 40px);
}

.home .siteInfoP h2 {
  margin-bottom: 15px;
  position: relative;
}

.home .siteInfoP h2 i {
  padding: 15px;
  border-radius: 50%;
  width: 65px;
  text-align: center;
  font-size: 1.5rem;
  position: absolute;
  top: -10px;
  left: -75px;
}

/* Section - About */
.home .about {
  padding: 40px 0;
}

.home .about .aboutFlexContainer1,
.home .about .aboutFlexContainer2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.home .aboutTextContainer1,
.home .aboutTextContainer2,
.home .aboutImageContainer1,
.home .aboutImageContainer2 {
  width: 43%;
}

.home .aboutTextContainer1 {
  padding: 50px 100px 0 0;
}

.home .aboutTextContainer1 p {
  margin: 15px 0 20px 0;
}

.home .aboutTextContainer2 {
  text-align: right;
  padding: 50px 0 0 100px;
}

.home .aboutTextContainer2 p {
  margin: 15px 0 20px 0;
  text-align: left;
}

.home .aboutImageContainer1,
.home .aboutImageContainer2 {
  position: relative;
}

.home .aboutImageContainer1 {
  top: -100px;
}

.home .aboutImageContainer1 img {
  -webkit-box-shadow: 20px 20px 0px #FDD908;
          box-shadow: 20px 20px 0px #FDD908;
}

.home .aboutImageContainer2 {
  bottom: -57px;
}

.home .aboutImageContainer2 img {
  float: right;
  -webkit-box-shadow: -20px 20px 0px #FDD908;
          box-shadow: -20px 20px 0px #FDD908;
}

/* Section - Extra Vacation Days */
.home .extraVacationDays {
  padding: 100px 0;
}

.home .extraVacationDays .wrapper {
  text-align: center;
}

.home .extraVacationDays .wrapper h2,
.home .extraVacationDays .wrapper p,
.home .extraVacationDays .wrapper .linkButton {
  margin: 20px 0;
}

/* Section - Full Bleed Paddle Boat Pic*/
.home .fullBleedPaddlePic {
  background: url(../assets/banner.jpg);
  background-size: cover;
  height: 60vh;
}

/* Section - Win Trip Section*/
.home .winTrip {
  padding: 80px 0;
}

.home .winTrip .winTripImageContainer {
  float: left;
  width: calc(30% - 30px);
  margin-right: 30px;
}

.home .winTrip .winTripImageContainer img {
  margin: 0 auto;
  -webkit-box-shadow: -20px 20px 0px #FDD908;
          box-shadow: -20px 20px 0px #FDD908;
}

.home .winTripTextContainer {
  float: left;
  width: calc(70% - 30px);
  margin-left: 30px;
}

.home .winTripTextContainer p {
  margin: 25px 0;
}

/* Section - Gallery Section*/
.home .gallery {
  padding: 80px 0;
}

.home .gallery ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home .gallery ul li {
  width: calc((100% / 3) - 30px);
  margin: 0 15px;
}

.home .galleryArrows {
  display: none;
  margin-top: 20px;
  font-size: 4rem;
  text-align: center;
}

.home .galleryArrows i {
  margin: 0 30px;
}

/* *************************** Blog Page <main> Styles ****************************** */
.blog main {
  padding: 100px 0 0 80px;
}

/* Aside Styles */
.blog aside {
  margin-top: 60px;
  padding-bottom: 20px;
  width: 310px;
  float: left;
}

.blog aside h4 {
  margin: 25px 0;
}

.blog aside .asideImageContainer {
  position: relative;
  top: -30px;
  left: -90px;
  width: 375px;
}

.blog aside .asideTextContainer {
  padding: 20px;
}

.blog aside .asideTextContainer ul {
  list-style-type: disc;
  list-style-position: inside;
  line-height: 1.4rem;
  letter-spacing: 1px;
}

/* Article Styles */
.blog article {
  float: right;
  width: 60%;
  position: relative;
  top: -150px;
  border-bottom: 4px solid #FDD908;
  border-left: 4px solid #FDD908;
}

.blog article .articleImageContainer {
  position: relative;
  top: -25px;
  padding-left: 19px;
}

.blog article .articleImageContainer img {
  -webkit-box-shadow: -23px 23px 0px #FDD908;
          box-shadow: -23px 23px 0px #FDD908;
}

.blog article .nextDestination {
  padding: 40px 60px 80px 60px;
}

.blog article .nextDestination p {
  padding: 15px 0;
}

/* Comments Section Styles */
.blog section.comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
  float: right;
  padding-right: 50px;
  position: relative;
  top: -60px;
}

.blog section.comments h3 {
  padding-bottom: 20px;
}

.blog .comment1,
.blog .comment2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 40px 20px 0;
}

.blog .comment1ImageContainer,
.blog .comment2ImageContainer {
  width: 150px;
}

.blog .comment1TextContainer,
.blog .comment2TextContainer {
  width: 100%;
}

.blog p.date {
  font-weight: 700;
  margin-bottom: 15px;
}

/* Comments Form Styles */
.blog .commentForm input {
  border: #EAFEFC 2.5px solid;
  border-bottom: #FDD908 2.5px solid;
  width: calc((100% / 2) - 5px);
  padding: 20px;
}

.blog .commentForm textarea {
  border: #FDD908 2.5px solid;
  width: 100%;
  margin: 30px 0;
  padding: 20px;
}

.blog .commentForm button {
  border: #0D457F solid 1px;
  width: 100%;
  padding: 12px 15px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.blog .commentForm button:hover, .blog .commentForm button:focus {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
  cursor: pointer;
}

/* *************************** Contact Page <main> Styles ****************************** */
.contact main .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact main .wrapper .contactInfo {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  top: -40px;
}

.contact main .wrapper .contactInfo nav ul li a {
  padding: 0 10px;
  font-size: 1.2rem;
}

.contact main .wrapper .contactInfo nav ul li a i:hover,
.contact main .wrapper .contactInfo nav ul li a i:focus {
  -webkit-animation: pulse 1.25s infinite;
          animation: pulse 1.25s infinite;
}

.contact main .wrapper .contactInfo p:first-of-type {
  margin: 15px 0;
}

.contact main .wrapper .contactInfo address {
  font-style: normal;
}

.contact .contactForm {
  width: 70%;
  -webkit-box-shadow: 20px 20px 0px #FDD908;
          box-shadow: 20px 20px 0px #FDD908;
  padding: 50px;
  position: relative;
  top: -150px;
}

.contact .contactForm input {
  border: #0D457F 2.5px solid;
  border-bottom: #FDD908 2.5px solid;
  width: calc((100% / 2) - 5px);
  padding: 15px;
}

.contact .contactForm textarea {
  border: #FDD908 2.5px solid;
  width: 100%;
  margin: 30px 0;
  padding: 20px;
}

.contact .contactForm button {
  border: #FDD908 solid 1px;
  width: 100%;
  padding: 12px 15px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.contact .contactForm button:hover, .contact .contactForm button:focus {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
  cursor: pointer;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  20% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  40% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  60% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  80% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  20% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  40% {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  60% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  80% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/* Footer Styles for all 3 pages */
footer {
  padding: 10px;
  background-color: #FDD908;
  text-align: center;
  color: #0D457F;
}

footer a {
  color: #0D457F;
  text-decoration: underline;
}

footer a:hover, footer a:focus {
  text-decoration: none;
}

/* Global Media Queries */
@media (max-width: 480px) {
  body,
  input,
  textarea {
    font-size: 0.8rem;
  }
}

/* ******************* 🏠Home Page Media Queries **************** */
@media (max-width: 1300px) {
  .home header {
    padding-left: 50px;
  }
  .home h1 {
    bottom: 100px;
  }
  .home .headerImageContainer {
    top: 0;
  }
  .home h2 {
    font-size: 1.5rem;
  }
}

@media (max-width: 940px) {
  .home .headerImageContainer {
    display: none;
  }
  .home .siteInfo {
    padding: 60px 0 150px 0;
  }
  .home .siteInfo .siteInfoContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 0px;
  }
  .home .siteInfoP {
    width: 100%;
    margin: 40px;
    padding: 0;
  }
  .home .aboutFlexContainer1 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .home .aboutFlexContainer2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .home .aboutImageContainer1,
  .home .aboutTextContainer1,
  .home .aboutTextContainer2,
  .home .aboutImageContainer2 {
    width: 100%;
  }
  .home .aboutTextContainer1 {
    padding: 0 20px 0 50px;
    position: relative;
    top: -20px;
  }
  .home .aboutTextContainer2 {
    padding: 100px 50px 0 50px;
  }
  .home .aboutTextContainer2 p {
    text-align: right;
  }
  .home .winTrip .winTripImageContainer {
    float: none;
    width: 50%;
    margin: 0 auto;
  }
  .home .winTripTextContainer {
    float: none;
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  .home .winTripTextContainer h2 {
    margin-top: 50px;
  }
}

@media (max-width: 768px) {
  .wrapper {
    width: 90%;
  }
  .home .mainMenu {
    visibility: collapse;
  }
  .home .hamburger {
    display: block;
  }
  .home h1 {
    font-size: 2.8rem;
    bottom: 190px;
  }
  .home h2 {
    text-align: center;
  }
  .home h3 {
    font-size: 1.6rem;
  }
  .home .siteInfoP {
    margin: 40px 0;
    text-align: center;
  }
  .home .siteInfo i {
    display: none;
  }
  .home .fancyUnderline {
    border-bottom: #FDD908 3px solid;
  }
  .home .fullBleedPaddlePic {
    background-position: center;
  }
  .home .winTrip .winTripImageContainer {
    width: 70%;
  }
  .home .gallery ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .home .gallery ul li {
    width: 100%;
    margin: 10px 0;
  }
  .home .gallery ul li img {
    margin: 0 auto;
  }
  .home .gallery ul li:nth-child(2),
  .home .gallery ul li:nth-child(3) {
    display: none;
  }
  .home .galleryArrows {
    display: block;
  }
}

@media (max-width: 480px) {
  .home header {
    background-position: center;
    padding-left: 25px;
  }
  .home h1 {
    font-size: 2rem;
  }
  .home h2 {
    font-size: 1.25rem;
  }
  .home .siteInfoP {
    margin: 20px 0;
  }
  .home .aboutTextContainer1,
  .home .aboutTextContainer2 {
    text-align: center;
  }
  .home .aboutTextContainer1 {
    padding: 0 10px 0 10px;
  }
  .home .aboutTextContainer2 {
    padding: 100px 10px 0 10px;
  }
  .home .aboutTextContainer2 p {
    text-align: center;
  }
  .home .fullBleedPaddlePic {
    background-position: 40%;
  }
}

/* *********************** 📝Blog Page Media Queries ***************** */
@media (max-width: 940px) {
  .blog main {
    padding: 50px 0 150px 40px;
  }
  .blog aside {
    margin-top: 10px;
    width: 100%;
    float: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .blog aside .asideTextContainer {
    width: 80%;
  }
  .blog aside .asideImageContainer {
    top: 0px;
    left: 0px;
    width: 400px;
    padding-left: 15px;
  }
  .blog article {
    float: none;
    width: 100%;
    top: 60px;
  }
  .blog section.comments {
    width: 100%;
    padding-right: 0px;
    margin-right: 20px;
    top: 100px;
  }
  .blog section.comments h3 {
    padding-bottom: 5px;
  }
  .blog section.comments p {
    font-size: 0.8rem;
  }
  .blog section.comments p.date {
    margin-bottom: 5px;
  }
}

@media (max-width: 768px) {
  .blog h1 {
    font-size: 2.8rem;
  }
  .blog .mediaQueryWrapper {
    margin: 0 auto;
    width: 90%;
  }
  .blog .mainMenu {
    visibility: collapse;
  }
  .blog .hamburger {
    display: block;
  }
  .blog header {
    background-position: 20%;
  }
  .blog main {
    padding-left: 0;
  }
  .blog aside {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blog aside .asideImageContainer {
    display: none;
  }
  .blog article {
    border-right: 4px solid #FDD908;
  }
  .blog article .articleImageContainer {
    top: 0;
  }
  .blog article .articleImageContainer img {
    -webkit-box-shadow: -25px -25px 0 #FDD908;
            box-shadow: -25px -25px 0 #FDD908;
  }
  .blog article .nextDestination {
    padding: 40px 10px 40px 10px;
  }
  .blog article .nextDestination h2 {
    font-size: 1.8rem;
    text-align: center;
  }
  .blog section.comments {
    margin-right: 0;
  }
  .blog section.comments h3 {
    text-align: center;
  }
  .blog .comment1,
  .blog .comment2 {
    padding: 20px 0px 20px 0;
  }
  .blog section.comments input {
    width: 100%;
  }
  .blog section.comments textarea {
    margin-top: 40px;
  }
}

@media (max-width: 480px) {
  .blog h1 {
    font-size: 2rem;
  }
  .blog .asideTextContainer {
    width: 100%;
    padding: 20px 0;
  }
  .blog .asideTextContainer h4,
  .blog .asideTextContainer p {
    text-align: center;
  }
  .blog article {
    border: none;
  }
  .blog article .articleImageContainer img {
    -webkit-box-shadow: -15px -15px 0 #FDD908;
            box-shadow: -15px -15px 0 #FDD908;
  }
  .blog article .nextDestination {
    padding: 0;
  }
  .blog article .nextDestination h2 {
    font-size: 1.6rem;
    padding-top: 20px;
    text-align: center;
  }
  .blog .nextDestination p:first-of-type {
    text-align: center;
  }
  .blog section.comments h3 {
    font-size: 1.8rem;
  }
  .blog .comment1,
  .blog .comment2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 25px 20px 0px 0px;
    text-align: center;
  }
  .blog .comment1 .comment1ImageContainer img,
  .blog .comment1 .comment2ImageContainer img,
  .blog .comment2 .comment1ImageContainer img,
  .blog .comment2 .comment2ImageContainer img {
    margin: 0 auto;
  }
  .blog section.comments input {
    width: 100%;
    padding: 10px;
  }
  .blog section.comments textarea {
    padding: 10px;
  }
  .blog .commentForm {
    margin-top: 30px;
  }
}

/* ********************** 📩 Contact Page Media Queries ******************* */
@media (max-width: 940px) {
  .contact main .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .contact main .contactInfo {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    width: 100%;
  }
  .contact main .contactForm {
    width: 100%;
    top: -100px;
  }
}

@media (max-width: 768px) {
  .contact h1 {
    font-size: 2.8rem;
  }
  .contact .mainMenu {
    visibility: collapse;
  }
  .contact .hamburger {
    display: block;
  }
  .contact .contactForm input {
    width: 100%;
  }
  .contact .contactForm {
    -webkit-box-shadow: 10px 10px 0 #FDD908;
            box-shadow: 10px 10px 0 #FDD908;
    padding: 20px;
  }
}

@media (max-width: 480px) {
  .contact h1 {
    font-size: 2rem;
    position: relative;
    top: -30px;
  }
}
